@media screen and (min-width: 64rem) {

	.page-header {
		width:50%;
		padding:2rem 10% 2rem 10%;
	}

	#page-header-div {
		position: fixed;
		width: 30%;
	}

	.tag-list {
		font-size: 14px;
		color: #606c71;
	}

	.left-slide {
		padding: 2rem 0 2rem 3rem;
		min-width: 300px;
		background: ghostwhite;
	}

	/*override the original setting*/
	.main-content {
		width: 50%;
		max-width: 64rem;
		padding: 2rem 6rem 2rem 6rem;
		font-size: 1.1rem; 
		margin: 0;
	}

	.main-article-content {
		width: 90%;
	}

	/*complement the original setting*/
	body {
		width: 100%;
		height: 100%;
		display: flex;
	}

	#big_toc {
		width:200px;
		/*position: fixed;*/
	}
}

@media screen and (max-width: 64rem) {
	#big_toc {
		display: none;
	}
}

#content {
	font-weight: normal;
	margin-top: 0;
	color: #159957;
}

/*toc related*/
.clickable-header {
	cursor:pointer;
}
.clickable-header:hover {
	text-decoration:underline;
}
.top-level-header {
	display:inline;
}
.back-to-top {
	margin-left:5px;
	cursor:pointer;
}
