# general
*.[oa] *~
.*.sw[po]
.DS_Store

# java
*.class

# Package Files #
*.jar
*.war
*.ear

# ignore Maven generated target folders
target

# ignore eclipse files
.project
.classpath
.settings
.metadata

# jekyll
#_site
.sass-cache
.jekyll-metadata
Gemfile.lock
.lightly
.c_bin
.classes
logs
*.log
node_modules
dist
dist-ssr
*.local
