<head>
  <meta charset="UTF-8">
  <meta name="baidu-site-verification" content="XuznPXuk19" />
  <title>Chen Blog</title>
  <meta name="Description" content="咖啡☕️英伦摇滚🇬🇧电音🎵电影🎬足球⚽️F1🏎️摄影📷">
  <meta name="Keywords" content="咖啡☕️,英伦摇滚🇬🇧,电音🎵,电影🎬,足球⚽️,F1🏎️,摄影📷">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#157878">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/normalize.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/cayman.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/custome.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/syntax.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/tag.css">
  <script src="{{ site.baseurl }}/js/jquery-3.1.0.min.js"></script>
  <script src="{{ site.baseurl }}/js/toc.js"></script>
  <script src="{{ site.baseurl }}/js/tocUse.js"></script>
</head>