<head>
  <meta charset="UTF-8">
  <title>{{ site.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#157878">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/normalize.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/cayman.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/custome.css">
  <script src="{{ site.baseurl }}/js/jquery-3.1.0.min.js"></script>
  <script src="{{ site.baseurl }}/js/toc.js"></script>
  <script src="{{ site.baseurl }}/js/tocUse.js"></script>
</head>
